.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/profile_side_navbar", {activeItem: "fund"}
      .inline-block.relative.pg-account-detail
        = render "shares/profile"
        .tag-box.tag-box-v3.mt20.p20
          %h2 发标资金总额：14,000,000
          .col-md-8.mt20.mb40
            %label 当前发标：全球主权基金
            %a.float-right{:href => "javascript:;"} 详细
            .progress
              .progress-bar.progress-bar-info.progress-bar-striped{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "70", :role => "progressbar", :style => "width: 70%"}
                70%
          %table.table.table-striped.table-bordered.mt40
            %thead
              %tr
                %th 标的名字
                %th 操盘手
                %th 投标额度
                %th 到期时间
                %th 冻结资金
                %th 承诺收益率
                %th 状态
                %th 合同
            %tbody
              %tr
                %th A股平衡基金
                %th 索罗宾
                %th 200w
                %th 2017-01-01
                %th 100w
                %th 200%
                %th 募集期
                %th
                  %a{:href => "javascript:;"} 委托操盘合同
              %tr
                %th B股平衡基金
                %th 索罗宾
                %th 200w
                %th 2017-01-01
                %th 100w
                %th 200%
                %th 募集期
                %th
                  %a{:href => "javascript:;"} 委托操盘合同
          .tag-box.tag-box-v3.mt20.p20
            %h3 A股平衡基金
            .tab-v1
              %ul.nav.nav-tabs
                %li.active
                  %a{"data-toggle" => "tab", :href => "#fund-home-1"} 基金首页
                %li
                  %a{"data-toggle" => "tab", :href => "#fund-edit-1"} 更新资料
                %li
                  %a{"data-toggle" => "tab", :href => "#fund-comment-1"} 相关评论
              .tab-content.row
                #fund-home-1.tab-pane.fade.active.in
                  .col-md-2.col-sm-2.text-center
                    .red 5389
                    %span.counter 投标人数
                  .col-md-9.col-sm-9
                    %h4 募集总额：1000w
                    %span 到期时间：2022-11-11
                    .mt20
                      %div 操盘账号: x200x
                      %div 操盘密码: xxxxxxxxxx
                      %a.btn-u.btn-u-blue.mt10{:href => "javascript:;"} 操盘入口
                #fund-edit-1.tab-pane.fade
                #fund-comment-1.tab-pane.fade
