.container.content
  .row
    .col-md-12
      %label.mr15
        %span HOMS账号：
        %span= @fund.homs_account.title if @fund.homs_account
      %label.mr15
        %span 密码：
        %span
      %label
        %span 暗标码：
        %span= @fund.private_code
  .row
    .col-md-12
      = render 'funds/fund_base_info'
  .row
    .col-md-12
      .panel.panel-grey
        .panel-heading
          .panel-title 申购记录
        .panel-title
          = render "invests/invest_list"

  -# .row
  -#   .col-md-12
  -#     .tag-box.tag-box-v3
  -#       评论。。/*cap1*/
