.ui-footer-verification.ui-footer-narrow-hide.fn-clear
  %a.ui-footer-verification-item.fn-left.credibility{:href => "https://search.szfw.org/cert/l/CX20140315003612003651", :target => "_blank", :title => "人人贷荣获中国电子商务协会“诚信网站”认证殊荣"}
  %a.ui-footer-verification-item.fn-left.trust{:href => "https://ss.knet.cn/verifyseal.dll?sn=e13042311010040288j4wq000000&ct=df&a=1&pa=931969", :target => "_blank", :title => "人人贷已通过中网权威数据库对比，获得“可信网站”身份验证，您可放心使用。"}
  %a.ui-footer-verification-item.fn-left.internet{:href => "http://si.trustutn.org/info?sn=881141203000033878231", :target => "_blank", :title => "人人贷已通过认证联盟权威数据库对比，获得“互联网金融行业认证”，您可放心使用。"}
  %a.ui-footer-verification-item.fn-left.itrust{:href => "http://www.itrust.org.cn/yz/pjwx.asp?wm=2554879344", :target => "_blank", :title => "人人贷已经成为中国互联网信用评价中心网络诚信联盟成员，并且完成企业信用评级 "}
  %a.ui-footer-verification-item.fn-left.norton{:href => "https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.renrendai.com&lang=zh_cn", :target => "_blank", :title => "人人贷已引入VeriSign SSL加密技术，您的隐私及个人资料安全已受最高级别的保护。"}
  %a.ui-footer-verification-item.fn-left.police{:href => "http://gawa.bjchy.gov.cn/websearch/", :target => "_blank", :title => "人人贷已经完成在公安机关的信息备案，您可了解网站相关备案信息。"}
  / <a class="ui-footer-verification-item fn-left gongshang" title="人人贷已经完成在北京市工商局网站备案，您可了解网站相关备案信息。" href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202013052900002" target="_blank"></a>
