.help-sub-in
  %h4.first 采用上市公司《恒生电子》专业股票交易软件
  %p
    %a{:href => "http://quote.yztz.com/600570", :target => "_blank"}> 恒生电子
    （股票交易代码：
    %a{:href => "http://quote.yztz.com/600570", :target => "_blank"}> 600570
    ）是中国最专业的证券交易系统服务商，其系统与各大证券公司进行了无缝对接。
    %br>/
    2014年04月04日马云33亿入主恒生电子扩张金融版图，
    %a{:href => "http://news.baidu.com/ns?cl=2&rn=20&tn=news&word=恒生电子%20马云&ie=utf-8&ie=utf-8", :target => "_blank"} 查看相关新闻
  %p  
  %p 摩尔街与恒生电子股份有限公司强强联合，为客户提供更加专业、高效、安全的投资管理服务。摩尔街的客户可通过下载恒生电子提供的客户端进行股票交易，交易单子通过恒生电子交易系统实时进入合作券商在市场上成交。
  %a{:name => "about3"}
  %p  
  %div{:style => "padding-bottom:20px;"}
    %b.fs18> 快速下载
    　
    %em.red 请按照开户信息选择相应的软件版本
  %div{:style => " position:relative; border:1px solid #FFCE84; background:#FFFCE1; padding:30px; height:170px;"}
    %p{:style => " color:#DB7C22; font-size:24px;"}
      Homs
      %b 钱江版（独立）
    %p{:style => "color: #999999; font-size:16px;"} ( 操作习惯和其他券商交易软件一样 )
    %div{:style => "position:absolute; left:30px; top:120px; width:202px; height:58px;"}
      %a{:href => "http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_QiJian/ZhengShi/DuLi/homs_duli.exe?fileCode=10&sourceType=4", :target => "_blank"}
        %img{:src => "http://www.yztz.com/res/images/hdownload-pc.gif"}/
    %div{:style => "position:absolute; top:35px; left:480px; font-size:18px;"}
      手机交易客户端
    %div{:style => "position:absolute; top:75px; left:480px; width:130px; height:40px;"}
      %a{:href => "http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_IPhone-Official.ipa?fileCode=43&sourceType=4", :target => "_blank"}
        %img{:src => "http://www.yztz.com/res/images/hdownload-iphone.gif"}/
    %div{:style => "position:absolute; top:125px; left:480px; width:130px; height:40px;"}
      %a{:href => "http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_android-Official.apk?fileCode=45&sourceType=4", :target => "_blank"}
        %img{:src => "http://www.yztz.com/res/images/hdownload-android.gif"}/
    %div{:style => "position:absolute; top:70px; left:630px; width:100px; height:120px;"}
      %img{:src => "http://www.yztz.com/res/images/hdownload-iphone2.gif"}/
    %div{:style => "position:absolute; top:70px; left:740px; width:100px; height:120px;"}
      %img{:src => "http://www.yztz.com/res/images/hdownload-android2.gif"}/
  %div{:style => " position:relative; border:1px solid #FFCE84; background:#FFFCE1; padding:30px; height:170px; margin-top:30px;"}
    %p{:style => " color:#DB7C22; font-size:24px;"}
      Homs
      %b 涌金版交易端
    %p{:style => "color: #999999; font-size:16px;"} ( 操作习惯和其他券商交易软件一样 )
    %div{:style => "position:absolute; top:35px; left:480px; font-size:18px;"}
      手机交易客户端
    %div{:style => "position:absolute; left:30px; top:120px; width:202px; height:58px;"}
      %a{:href => "http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_jiaoyiduan.exe?fileCode=35&sourceType=4", :target => "_blank"}
        %img{:src => "http://www.yztz.com/res/images/hdownload-pc.gif"}/
    %div{:style => "position:absolute; top:75px; left:480px; width:130px; height:40px;"}
      %a{:href => "http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_iPhone.ipa?fileCode=57&sourceType=4", :target => "_blank"}
        %img{:src => "http://www.yztz.com/res/images/hdownload-iphone.gif?v=20141118"}/
    %div{:style => "position:absolute; top:125px; left:480px; width:130px; height:40px;"}
      %a{:href => "http://www.ihoms.com/file/xunlei/downloadxunlei/HOMS_YONGJINBAN_android.apk?fileCode=38&sourceType=4", :target => "_blank"}
        %img{:src => "http://www.yztz.com/res/images/hdownload-android.gif?v=20141118"}/
    %div{:style => "position:absolute; top:70px; left:630px; width:100px; height:120px;"}
      %img{:src => "http://www.yztz.com/res/images/hdownload-iphone2-yj.gif?v=20141223"}/
    %div{:style => "position:absolute; top:70px; left:740px; width:100px; height:120px;"}
      %img{:src => "http://www.yztz.com/res/images/hdownload-android2-yj.gif?v=20141223"}/
  %div{:style => " font-size:18px; font-weight:bold; padding-top:40px;"} 也可以到恒生电子的官网下载：
  %p
    %a{:href => "http://www.ihoms.com/www/download.do", :target => "_blank"} http://www.ihoms.com/www/download.do
  %p  
  %p
    %a{:href => "http://www.ihoms.com/www/download/download.do?modelName=1", :target => "_blank"}
      %img{:src => "http://www.yztz.com/res/images/softdownload1.png?v=20141201"}/
  %p
    %a{:href => "http://www.ihoms.com/www/download/download.do?modelName=2", :target => "_blank"}
      %img{:src => "http://www.yztz.com/res/images/softdownload2.png?v=20141201"}/
