
.container.content
  .row
    .col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2
      = form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'reg-page'}) do |f|
        .reg-header
          %h2 注册
          %p
            已经注册 ? #{link_to("立即登录",new_user_session_path,rel: "nofollow", class: "color-red")}。


        .input-group.margin-bottom-20
          %span.input-group-addon
            %i.fa.fa-phone
          %input#user_cell.form-control{:type => "text", :name => "user[cell]", :autofocus => "autofocus", :placeholder => "手机号码"}



        .input-group
          %span.input-group-addon
            %i.fa.fa-lock
          %input#user_password.form-control{:type => "password", :name => "user[password]", :autofocus => "off", :placeholder => "手机号码",:pattern => "(?=^.{8,}$).*$", :title =>"Three letter country code", :placeholder => "密码"}

        - if @validatable
          .margin-bottom-20
            %span
              * 最少#{@minimum_password_length}个字符,最少包含一个数字和一个字母



        .input-group.margin-bottom-20
          %span.input-group-addon
            %i.fa.fa-key
          %input#user_password_confirmation.form-control{:type => "password", :name => "user[password_confirmation]", :autofocus => "off", :placeholder => "确认密码"}

        .row
          .col-xs-6
            .input-group.margin-bottom-20
              %span.input-group-addon
                %i.fa.fa-key
              %input.form-control{:type => "text", :name => "verification_code", :placeholder => "验证码"}
          .col-xs-6
            %a#getCheckCode.btn-u.btn-u-default  获取验证码

        .row
          .col-lg-6.checkbox
            %label
              %input#check{:type => "checkbox",:checked => ""}/
              已阅读
              %a.color-blue{:href => "/pages/page_terms_signup"}条款
          .col-lg-12
            %button.btn-u.col-sm-12.margin-top-20#submit{:name => "commit", :type => "button", :value => "Sign up"} 注册
            %input#subbtn{:type=>"submit",:style=>"display:none;"}
:javascript
    $(function(){
      $('#submit').bind('click',function(){
        if($(this).closest('form').find('#check').attr('checked')){
          $('#subbtn').click();
        }else{
          alert('提交注册前请先阅读并勾选确认条款');
        }
      });
      $("#getCheckCode").click(function(){
        getCheckCode();
      });

      function getCheckCode() {
        $.ajax({
          data: null,
          url: "/users/generate_verification_code?cell=" + $("#user_cell").val(),
          type: 'get',
          contentType: false,
          processData: false,
          success: function () {

          },
          error: function () {

          }
        });
      }
    });
