
.container.content
  .row
    .col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2
      = form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'reg-page'}) do |f|
        .reg-header
          %h2 注册
          %p
            已经注册 ? #{link_to("立即登录",new_user_session_path,rel: "nofollow", class: "color-red")}。
        - if flash[:notice]
          = flash[:notice]
        .input-group.margin-bottom-20
          %span.input-group-addon
            %i.fa.fa-user
          %input#user_name.form-control{:type => "text", :name => "user[username]", :autofocus => "autofocus", :placeholder => "昵称", :required => "required",:minlength => "1", :maxlength => "10",:tooltip => "请输入十个字符以内"}

        .input-group.margin-bottom-20
          %span.input-group-addon
            %i.fa.fa-phone
          %input#user_cell.form-control.numberic{:type => "text", :name => "user[cell]", :autofocus => "autofocus", :placeholder => "手机号码", :maxlength => "11",:minlength => "11",:tooltip => "请输入正确的手机号码"}



        .input-group
          %span.input-group-addon
            %i.fa.fa-lock
          %input#user_password.form-control{:type => "password", :name => "user[password]", :autofocus => "off", :placeholder => "手机号码", :placeholder => "密码", :minlength => "8", :tooltip =>"包含数字和字母的至少八个字符"}

        - if @validatable
          .margin-bottom-20
            %span
              * 最少#{@minimum_password_length}个字符,最少包含一个数字和一个字母


        .input-group.margin-bottom-20
          %span.input-group-addon
            %i.fa.fa-key
          %input#user_password_confirmation.form-control{:type => "password", :name => "user[password_confirmation]", :autofocus => "off", :placeholder => "确认密码",:minlength => "8",:tooltip => "请不要忘记您的密码"}

        .row
          .col-xs-6
            .input-group.margin-bottom-20
              %span.input-group-addon
                %i.fa.fa-key
              %input.form-control{:type => "text", :name => "verification_code", :placeholder => "验证码", :minlength => "1",:tooltip => "请输入手机收到的验证码"}
          .col-xs-6
            %a#getCheckCode.btn-u.btn-u-default  获取验证码

        .row
          .col-lg-6.checkbox
            %label
              %input#check{:type => "checkbox",:checked => ""}/
              已阅读
              %a.color-blue.sign-item{:href => "javascript:;"}条款
          .col-lg-12
            %button.btn-u.col-sm-12.margin-top-20#submit{:name => "commit", :type => "button", :value => "Sign up"} 注册
            %input#subbtn{:type=>"submit",:style=>"display:none;"}
:javascript
    $(function(){

      $("input").bind("input",function(){
        check_length($(this));
      });

      $('#submit').bind('click',function(){
        check_length($("input"));
        if ($("#user_password_confirmation").val() !== $("#user_password").val()){
          $("#user_password_confirmation")[0].setCustomValidity("两次输入的密码不匹配");
        }else{
          $("#user_password_confirmation")[0].setCustomValidity("");
        }
        // if (scrollToErr()) return;
        if($(this).closest('form').find('#check').attr('checked')){
          $('#subbtn').click();
        }else{
          alert('提交注册前请先阅读并勾选确认条款');
        }
      });
      $("#getCheckCode").click(function(){
        getCheckCode();
      });
      $(".sign-item").click(function(){
        var winHeight = 600;
        var winWidth = 600;
        var winLeft = (screen.width-600)/2;
        var winTop = (screen.height-600)/2;
        window.open("/register_items.html", "newwindow", "height="+winHeight+", width="+winWidth+", toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no, left="+winLeft+", top="+winTop);
      });

      function getCheckCode() {
        $.ajax({
          data: null,
          url: "/users/generate_verification_code?cell=" + $("#user_cell").val(),
          type: 'get',
          contentType: false,
          processData: false,
          success: function () {

          },
          error: function () {

          }
        });
      }
    });
