.pg-container-content
  #pg-account-index.pg-account
    .container.content.fn-clear
      .bg-white.p30
        = render "shares/about_us_side_nav", {activeItem: "download"}
        .inline-block.relative.grid_10.p20
          Homs钱江版-专业版
          = link_to 'http://www.ihoms.com/www/download/download.do', 'http://www.ihoms.com/www/download/download.do'

- @navItem = 'pages'
