.pg-container-content
  #pg-account-index.pg-account
    .container.content.fn-clear.bg-white
      .bg-white.p30
        = render "shares/about_us_side_nav", {activeItem: "faq"}
        .inline-block.relative.grid_10.p20
          .company
            .headline
              %h3.zdy-red.fs18.title-font  注册不成功？
            %p 摩尔街采用手机注册账号模式，在您填写手机号码后点击获取验证码，如果长时间未收到验证码，请检查你的手机是否设置了防骚扰拦截，验证码有可能被手机拦截，请将该发送号码设置为信任号码，以便后续通知的接受。
            .headline
              %h3.zdy-red.fs18.title-font  认证审核未通过？
            %p 摩尔街实行完全实名制注册，注册用户要完成网站操作必须完成实名制认证，实名制认证需要上传身份证正面、反面、以及本人手持身份证露脸清晰照片，如果您认证审核未通过，请检查上述照片是否完整、清晰或直接联系客服。
            .headline
              %h3.zdy-red.fs18.title-font  不能委托投标？
            %p 不能委托投标，有两种情况，一种是您尚未通过实名认证，请实名认证后再进行投标操作；一种是您的账户余额小于您要投标的额度，请对账户充值后再进行投标操作。
            .headline
              %h3.zdy-red.fs18.title-font  不能发起受托操盘标？
            %p 不能发起受托操盘标，是您的认证信息不够或者不适宜发起，请进一步认证信息并与客服联系解决。
            .headline
              %h3.zdy-red.fs18.title-font  充值与提现手续费？
            %p 摩尔街暂不收取所有用户充值提现手续费。
            .headline
              %h3.zdy-red.fs18.title-font  账户管理费用？
            %p 摩尔街在不收取委托投标用户账户托管管理费用； 配资用户账户管理费收取详见与用户签订的协议文本；受托操盘用户，在盈利后，就盈利分成部分，摩尔街收取15%-40%的平台管理服务费。
            .headline
              %h3.zdy-red.fs18.title-font  摩尔街怎样控制委托操盘标的风险？
            %p 委托操盘标，分为账户托管和账户非托管两种模式，该两种模式的后台监控都在摩尔街风控部，风控人员会实时盯看操盘手账户资金状况，并在行情出现剧烈震荡时限制操盘手买入高风险股票；当操盘账户净值大道约定值是，摩尔街风控部将对操盘账户一键平仓，保证委托人的利益。
            .headline
              %h3.zdy-red.fs18.title-font  委托操盘账户可否转让？
            %p 委托操盘账户在约定操作期间可以转让，但转让对象必须是摩尔街实名认证用户，委托投标人可以溢价或折价转让已委托的账户，提前结束投资活动。
            .headline
              %h3.zdy-red.fs18.title-font  配资用户购买股票有何限制？
            %p
              配资属于民间借贷，配资用户用户作为债务人，股票买卖要按照约定受到一定限制:
              %br
              1)、不得购买S、ST、*ST、S*ST、SST等被交易所特别处理的股票；
              %br
              2)、不得购买权证类可以T+0交易的证券；
              %br
              3)、不得购买首日上市新股（或复牌首日股票）等当日不设涨跌停板限制的股票；
              %br
              4)、不得进行坐庄、对敲、接盘、大宗交易、内幕信息等违反股票交易法律法规及证券公司规定的交易；
              %br
              5)、其他合同约定的限制条件。
            .headline
              %h3.zdy-red.fs18.title-font 10. 受托操盘手受托服务费如何收取？
            %p 受托操盘手取得盈利后，就盈利部分与委托人协议分成（协议内容在发起委托操盘标的审核通过进入募集期时确定），该部分费用由摩尔街代收代付，在扣除平台管理服务费，转入操盘手个人账户并通知委托双方，委托操盘手可即时提现。

- @navItem = 'pages'
