.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/about_us_side_nav", {activeItem: "about_staff"}
      .inline-block.relative.grid_10.p20
        操盘手：张先生
        “之前一直是帮几个朋友打理账户，收益不错，但账户清算、交易软件、产品发行等很不方便，有了摩尔街，轻松解决了这些问题，让我有更多的精力投入交易操作。”

        投资人：刘女士
        “随时股市行情上升，股票投资的收益远远超过其他理财方式。由于平时要上班，没时间研究股票，但通过摩尔街，可以找到最好的操盘手为我服务，收益也非常有保障。”

        配资客户：王先生
        “我在摩尔街的配资体验非常不错，高效、服务好。而且他们团队成员都是名校毕业，经验丰富，资金做了托管，安全性上也有保障。”

= @navItem = 'pages'
= content_for :navItem
