.container.content
  =# ToDo user_info partial
  .ml40.pr80
    = render 'shares/profile'
  .row.col-md-12.mt40
    .col-md-6
      = render 'funds/fund_base_info'
    .col-md-6
      = render 'form'
