.footer-v1
  .footer
    .container
      .row
        / About
        .col-md-3.md-margin-bottom-40
          %a{:href => "index.html"}
            %img#logo-footer.footer-logo{:alt => "", :src => "/assets/logo2-default.png"}/
          %p About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.
          %p Duis eleifend fermentum ante ut aliquam. Cras mi risus, dignissim sed adipiscing ut, placerat non arcu.
        / /col-md-3
        / End About
        / Link List
        .col-md-2.md-margin-bottom-40
          %ul.list-unstyled.link-list
            %li
              %a{:href => "#"} 公司简介
              %i.fa.fa-angle-right
            %li
              %a{:href => "#"} 员工风采
              %i.fa.fa-angle-right
            %li
              %a{:href => "#"} 加入我们
              %i.fa.fa-angle-right
            %li
              %a{:href => "#"} 联系我们
              %i.fa.fa-angle-right
        / /col-md-3
        / End Link List
        / Address
        .col-md-2.md-margin-bottom-40
          %ul.list-unstyled.link-list
            %li
              %a{:href => "#"} 信息安全
              %i.fa.fa-angle-right
            %li
              %a{:href => "#"} 资金安全
              %i.fa.fa-angle-right
            %li
              %a{:href => "#"} 操作安全
              %i.fa.fa-angle-right
            %li
              %a{:href => "#"} 风控保障
              %i.fa.fa-angle-right
            %li
              %a{:href => "#"} 自我保障
              %i.fa.fa-angle-right
        / /col-md-3
        / End Address
        .col-md-2.md-margin-bottom-40
          %ul.list-unstyled.link-list
            %li
              %a{:href => "#"} 新手指南
              %i.fa.fa-angle-right
            %li
              %a{:href => "#"} 操作指引
              %i.fa.fa-angle-right
            %li
              %a{:href => "#"} 常见问题
              %i.fa.fa-angle-right
            %li
              %a{:href => "#"} 意见反馈
              %i.fa.fa-angle-right
            %li
              %a{:href => "#"} 软件下载
              %i.fa.fa-angle-right
        .col-md-2.md-margin-bottom-40
          %ul.list-unstyled.link-list
            %li
              %a{:href => "#"} 法律文本
              %i.fa.fa-angle-right
            %li
              %a{:href => "#"} 负责声明
              %i.fa.fa-angle-right
            %li
              %a{:href => "#"} 费率说明
              %i.fa.fa-angle-right
  / /footer
  .copyright
    .container
      .row
        .col-md-6
          %p
            2014 © All Rights Reserved.
            %a{:href => "#"} Privacy Policy
            |
            %a{:href => "#"} Terms of Service
        / Social Links
        .col-md-6
          %ul.footer-socials.list-inline
            %li
              %a.tooltips{"data-original-title" => "Facebook", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
                %i.fa.fa-facebook
            %li
              %a.tooltips{"data-original-title" => "Skype", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
                %i.fa.fa-skype
            %li
              %a.tooltips{"data-original-title" => "Google Plus", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
                %i.fa.fa-google-plus
            %li
              %a.tooltips{"data-original-title" => "Linkedin", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
                %i.fa.fa-linkedin
            %li
              %a.tooltips{"data-original-title" => "Pinterest", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
                %i.fa.fa-pinterest
            %li
              %a.tooltips{"data-original-title" => "Twitter", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
                %i.fa.fa-twitter
            %li
              %a.tooltips{"data-original-title" => "Dribbble", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
                %i.fa.fa-dribbble
        / End Social Links
  / /copyright
