<div class="index">
	<header class="sl-header ng-scope">
		<nav class="navbar navbar-inverse navbar-static-top site-nav">
			<div class="container">
	            <!-- Contact info -->
	            <ul class="nav navbar-nav site-nav-sns">
	                <li class="site-nav-sns-phone"><span class="navbar-text">客服热线：400-921-9218</span></li>
	                <li>
	                    <a href="#" class="icon-sns qq">
	                        <div class="social-content">
	                            <p class="social-title">点融网官方QQ群</p>

	                            <p>141444867</p>
	                        </div>
	                    </a>
	                </li>
	                <li>
	                    <a href="http://weibo.com/dianrongwang" target="_blank" class="icon-sns weibo" rel="nofollow"></a>
	                </li>
	                <li>
	                    <a href="#" class="icon-sns wechat">
	                        <div class="social-content">
	                            <p class="social-title">扫描关注微信公众号</p>

	                            <p><img src="/assets/qr-code.jpg"></p>
	                        </div>
	                    </a>
	                </li>
	            </ul>
	            <ul id="nonLoginBar" class="nav navbar-nav navbar-right navbar-sm site-nav-login ng-scope">
	                <li><a id="login-panel" href="javascript:;" rel="nofollow">登录</a></li>
	                <li><a id="create-account" href="javascript:;" class="btn btn-sm" rel="nofollow">注册账户</a></li>
	            </ul>

	        </div>
		</nav>
	</header>

    <div class="container navbar-responsive-collapse">
    	<a class="navbar-brand" href="/"><span class="sl-logo">logo</span></a>
        <ul class="nav navbar-nav sl-top-nav">
            <!-- Home -->
            <li>
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    首页
                </a>
			</li>
			 <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    我要投标
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="javascript:void(0);">规则说明</a></li>

                    <!-- One Page -->
                    <li>
                        <a href="javascript:void(0);">定向委托操盘</a>                               
                    </li>
				</ul>
			</li>
		</ul>
	</div>

</div>