<div class="box box-user-info">
  <div class="user-avatar-container inline-block">
    
    <a href="/account/info!basicInfo.action"><img width="96" height="96" src="/static/img/account/default-avatar-96.png"></a>
    
    
  </div>
  <div class="user-info-container">
    <h3 title="zjs18">zjs18</h3>
    <div class="fn-clear relative">
      <div class="fn-left user-security-container mr10" id="info-box">
        <div class="safe fn-clear">
          <span class="fn-left color-gray-text">安全等级</span>
          <div id="safe-progressbar" class="safe-progressbar fn-left" title="25%"><div class="bar" style="width: 25px;"></div></div>
        </div>
        <div class="icons fn-clear mt5">
          <div class="fn-left icon-box light">
            <a data-txt="为了您的账户更安全，请您绑定手机号。||立即绑定" title="绑定手机，已绑定" href="/account/info!security.action" class="fn-left safe-rank cellphone light"></a>
          </div>
          <div class="fn-left icon-box ">
            <a data-txt="进行实名认证后，您才可以进行投资、借款。||立即认证" title="实名认证，未设置" href="/account/info!security.action" class="fn-left safe-rank man "></a>
          </div>
          <div class="fn-left icon-box ">
            <a data-txt="为了您的资金更加安全，请您设置交易密码。||立即设置" title="交易密码，未设置" href="/account/info!security.action" class="fn-left safe-rank lock "></a>
          </div>
          <div class="fn-left icon-box ">
            <a data-txt="为了使您的账户有更多的安全保障，请您绑定邮箱。||立即绑定" title="绑定邮箱，未绑定" href="/account/info!security.action" class="fn-left safe-rank mail "></a>
          </div>
        </div>
      </div>
      <div class="fn-left last">
        <div class="surplus fn-clear">
          <span class="fn-left text-l mr10">账户余额</span>
          <span class="fn-left num-xl color-orange-text">
            <em>0.00</em>元
          </span>
          <a class="fn-left ui-button ui-button-green ui-button-mid mr4" href="/account/capital!recharge.action">充值</a>
          <a class="fn-left ui-button ui-button-blue ui-button-mid last" href="/account/capital!withdraw.action">提现</a>
        </div>
        <div class="surplus-detail fn-clear">
          <div class="fn-left mr40">
            <span class="fn-left text mr10">冻结金额</span>
            <span class="fn-left num last">
              <em>0.00</em>元
            </span>
          </div>
          <div class="fn-left last">
            <span class="fn-left text mr10">可用金额</span>
            <span class="fn-left num last">
              <em>0.00</em>元
            </span>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>