.pg-container-content
  #pg-account-index.pg-account
    .container.content.fn-clear
      .bg-white.p30
        = render "shares/about_us_side_nav", {activeItem: "statement"}
        .inline-block.relative.grid_10.p20
          .company
            .headline
              %h3.zdy-red.fs18.title-font 网站声明
            %p 除摩尔街网站平台注明之服务条款外，其它因使用摩尔街网站平台而引致之任何意外、疏忽、合约毁坏、诽谤、版权或知识 产权侵犯及其所造成的各种损失，摩尔街网站平台概不负责，亦不承担任何法律责任。
            %p 摩尔街网站平台所载的各种信息和数据等仅供参考，摩尔街网站平台所载的观点和判断仅代表我们的客观分析，并不构成任何投资建议或实际的投资结果，我们也不保证当中的观点和判断不会发生任何调整或变更，投资者据此发生的投资行为与本公司无关。摩尔街网站平台所涉及的资料来源及观点，公司并不对其准确性、充足性或完整性做出任何保证，也不对相关资料的任何错误或遗漏负任何法律责任。
            %p 任何透过摩尔街网站平台网页而链接及得到之资讯、产品及服务，摩尔街网站平台概不负责，亦不负任何法律责任。
            %p 摩尔街网站平台声明，一切网民在进入摩尔街网站平台主页及各层页面时已经仔细看过本条款并完全同意，敬请谅解。

            .headline
              %h3.zdy-red.fs18.title-font 风险声明
            %p 1. 摩尔街网站平台在签署合同前须履行风险提示义务；投资者在签署合同前须详细阅读本协议内容及相关风险提示，以便正确、全面了解操盘交易的风险。
            %p 2. 技术风险揭示
            1）互联网是开放性的公众网络，网上证券交易委托除具有其他委托方式共同的风险外，还有其特有的风险，如由于互联网数据传输等原因，交易指令可能会出现中断、停顿、延迟、数据错误等情况。
            %br
            2）互联网存在黑客恶意攻击的可能性，亦存在病毒入侵的可能性，互联网服务器可能会出现故障及其他不可预测的因素；或由于投资者不慎将密码泄露或被他人盗用，均存在投资者账户被他人盗买盗卖的风险。
            %br
            3）投资者的电脑设备及软件系统与所提供的网上交易系统不相匹配，导致无法下达委托指令或委托失败。
            %p 3. 规避风险建议
            1）投资者务必注意个人信息资料的保密，账户密码妥善保存，如意识到密码可能泄露，请及时修改密码。
            %br
            2）投资者用于交易委托的电脑必须安装可信赖的病毒防火墙和网络防火墙软件，并确认其正常工作。
            %br
            3）投资者如遇个人电脑系统、网络通讯或者网上交易相关软件出现异常情况，应暂时停止网上委托。
            %p 4. 特别提示
            投资者签订合同后，表明投资者已完全了解网上交易可能存在的相应风险，以及自身决策失误造成的损失，并承诺自行承担。

- @navItem = 'pages'
