.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/about_us_side_nav", {activeItem: "about_staff"}
      .inline-block.relative.grid_10.p20
        委托操盘服务费：暂不收取任何费用；

        股票配资：

        股票配资借款年利息
        4-5倍杠杆
        金额    借款期限 借款10万以下 借款10万-100万以下 借款100万以上
        1个月 24.0%	23.4%	22.8%
        2个月 23.4%	22.8%	22.2%
        3个月 22.8%	22.2%	21.6%
        6个月 21.6%	21.0%	20.4%
        1-3倍杠杆
        金额    借款期限 借款10万以下 借款10万-100万以下 借款100万以上
        1个月 23.4% 22.8% 22.2%
        2个月 22.8% 22.2% 21.6%
        3个月 22.2% 21.6% 21.0%
        6个月 20.4% 19.8% 19.2%


        充值、提现以及其他平台服务费：暂不收取任何费用。

- @navItem = 'pages'
