.container.content
  .p20.text-center
    %label 暗号:
    %input
    %a.btn-u.btn-u-orange.btn-u-xs UNLOCK
  .row.mt10
    = render 'users/funder_info',{user: @fund.user}
  .row
    .col-md-12
      = render 'funds/fund_base_info'
  .tag-box.tag-box-v3.mt20.p20.pt0
    .row
      .col-md-12
        .mb10
          %label.mr40
            %span 当前净值:
            %span
          %label
            %span 当前年化收益:
            %span
        %div
          %h4 历史走势:

  .row
    .col-md-12
      .panel.panel-grey
        .panel-heading
          .panel-title 申购记录
        .panel-title
          = render "invests/invest_list"

  .row
    .col-md-12
      .tag-box.tag-box-v3
        评论。。
