.p20.col-md-12
  .row
    .col-md-3.text-center.mb40
      .avatar
        %img.img-thumbnail.img-rounded.w70{:src => asset_path("testimonials/img1.jpg")}
      .username.mt5
        %span 基金发起人：
        %span 林桑
      .btn-group.mt5
        %a.btn-u.btn-u-blue{:href => "javascript:;"} 关注
        %a.btn-u.btn-u-red{:href => "javascript:;"} 私信
    .col-md-9
      .tag-box.tag-box-v3.col-md-12.mr20
        .row
          .col-md-5
            姓名：啊个电话就撒娇活动
          .col-md-3
            年龄：24岁
          .col-md-4
            性别：男
        .row.mt10
          .col-md-5
            用户ID：21312311
          .col-md-3
            学历：本科
          .col-md-4
            工作：怒哀是个鬼啊
        .row.mt10
          .col-md-12
            现居地：xx省xx市xx区xx弄xx号xx室
  .row.mlr0
    %table.table.table-striped.table-bordered
      %tbody
        %tr
          %td
            自我介绍
          %td
            历史折线图
          %td
            证明图片
