.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/profile_side_navbar", {activeItem: "user"}
      .inline-block.relative.pg-account-detail
        = render "shares/profile"
        .box.mt20.p20
          .fn-clear.equation
            .fn-left.text-center
              %h5 账户净资产
              %p.num-l
                %em> 0.00
                元
            .fn-left.symbol =
            .fn-left.text-center
              %h5
                理财资产
                %i#tips_1.iconfont.tips 
              %p.num-l
                %em> 0.00
                元
            .fn-left.symbol +
            .fn-left.text-center
              %h5 借款负债
              %p.num-l.rrdcolor-red-text
                %em> -0.00
                元
            .fn-left.symbol +
            .fn-left.text-center
              %h5 账户余额
              %p.num-l
                %em> 0.00
                元
        .box.mt20.p20
          %h3 投标记录图
        .box.mt20.p20
          %h3 发标记录图
        .box.mt20.p20
          %h3 配资记录图
        .box.mt20.p20
          %h3 理财推荐
          / U计划A
          .plan.mt10.ph10.fn-clear
            .fn-left.w230.mr20
              %h4.plan-title.w250.fn-text-overflow
                %a{:href => "/financeplan/listPlan!detailPlan.action?financePlanId=193", :target => "_blank"} U计划-A150309期
              %p.fn-clear
                %span.fn-left.mr10 加入条件
                %span.fn-left.num-s.last
                  %em> 1,000
                  元
            .fn-left.plan-conditions.mr20
              %p.fn-clear
                %span.fn-left.mr10 计划金额
                %span.fn-left.num-s.last
                  %em> 4,000,000
                  元
              %p.fn-clear
                %span.fn-left.mr10 预期收益
                %span.fn-left.num-s.last
                  %em> 7%
                  \/年
            .fn-left.plan-conditions.mr20
              %p.fn-clear
                %span.fn-left.mr10 剩余金额
                %span.fn-left.num-s.last
                  %em> 0
                  元
              %p.fn-clear
                %span.fn-left.mr10 加入进度
                %span.fn-left.num-s.last
                  %em> 100
                  \%
            %a.ui-button.ui-button-mid.ui-button-disabled.fn-right.last{:target => "_blank"} 预定满额
          / U计划B
          .plan.mt10.ph10.fn-clear
            .fn-left.w230.mr20
              %h4.plan-title.w250.fn-text-overflow
                %a{:href => "/financeplan/listPlan!detailPlan.action?financePlanId=194", :target => "_blank"} U计划-B150309期
              %p.fn-clear
                %span.fn-left.mr10 加入条件
                %span.fn-left.num-s.last
                  %em> 10,000
                  元
            .fn-left.plan-conditions.mr20
              %p.fn-clear
                %span.fn-left.mr10 计划金额
                %span.fn-left.num-s.last
                  %em> 6,000,000
                  元
              %p.fn-clear
                %span.fn-left.mr10 预期收益
                %span.fn-left.num-s.last
                  %em> 9%
                  \/年
            .fn-left.plan-conditions.mr20
              %p.fn-clear
                %span.fn-left.mr10 剩余金额
                %span.fn-left.num-s.last
                  %em> 0
                  元
              %p.fn-clear
                %span.fn-left.mr10 加入进度
                %span.fn-left.num-s.last
                  %em> 100
                  \%
            %a.ui-button.ui-button-mid.ui-button-disabled.fn-right.last{:target => "_blank"} 预定满额
          / U计划C
          .plan.mt10.ph10.fn-clear
            .fn-left.w230.mr20
              %h4.plan-title.w250.fn-text-overflow
                %a{:href => "/financeplan/listPlan!detailPlan.action?financePlanId=195", :target => "_blank"} U计划-C150309期
              %p.fn-clear
                %span.fn-left.mr10 加入条件
                %span.fn-left.num-s.last
                  %em> 10,000
                  元
            .fn-left.plan-conditions.mr20
              %p.fn-clear
                %span.fn-left.mr10 计划金额
                %span.fn-left.num-s.last
                  %em> 20,000,000
                  元
              %p.fn-clear
                %span.fn-left.mr10 预期收益
                %span.fn-left.num-s.last
                  %em> 11%
                  \/年
            .fn-left.plan-conditions.mr20
              %p.fn-clear
                %span.fn-left.mr10 剩余金额
                %span.fn-left.num-s.last
                  %em> 0
                  元
              %p.fn-clear
                %span.fn-left.mr10 加入进度
                %span.fn-left.num-s.last
                  %em> 100
                  \%
            %a.ui-button.ui-button-mid.ui-button-disabled.fn-right.last{:target => "_blank"} 预定满额
          %ul#loan-list.ui-list.ui-list-invest.loan-s.mt20.mb20
            %li.ui-list-header.fn-clear
              %span.ui-list-title.fn-left.color-gray-text.w260 借款标题
              %span.ui-list-title.fn-left.color-gray-text.w60 信用等级
              %span.ui-list-title.fn-left.color-gray-text.w90 年利率
              %span.ui-list-title.fn-left.color-gray-text.w120 金额
              %span.ui-list-title.fn-left.color-gray-text.w80 期限
              %span.ui-list-title.fn-left.color-gray-text.w50 进度
              %span.ui-list-title.fn-left.color-gray-text.w75.last
            %li.ui-list-status
              %p.color-gray-text 暂时没有可推荐的散标
