.container.content
  %h2 忘记密码?
  = form_for(resource, url: generate_verification_code_users_path, html: { method: :get }) do |f|
    = devise_error_messages!
    .field
      = f.label :cell
      %br/
      %input{:type => 'text', :name => 'cell'}
    .field
      %br/
      %input{:type => 'hidden', :name => 'forget_pswd', :value => 1}
    .actions.mt15
      = f.submit "发送验证码到手机", class: "btn-u btn-u-default"