.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/about_us_side_nav", {activeItem: "about_us"}
      .inline-block.relative.grid_10.p20
        %h3.zdy-red 公司简介
        %p
          证津信息科技（上海）有限公司注册资本5000万元，总部位于上海，创始团队都毕业于国内外名校，具有硕士及以上学历，分别来自大型券商、知名IT企业以及律师事务所，会计师事务所等，具有扎实的专业知识与丰富的行业经验。证津信息科技旗下的“摩尔街”互联网平台为中国首家服务于中小投资者与专业操盘手的大型互联网投资、交流及信息服务平台， 专注于证券投资信息整合，微型私募委托投资以及互联网行政人服务等。
          “摩尔街”顺应互联网金融变革的浪潮，秉持“创新、真诚、透明、高效”的发展原则，以提供专业、有效的证券互联网投资服务为宗旨，不断进取，成为互联网金融发展潮流中的领航者，也成为推动中国证券行业逐步完善并健康发展的中坚力量！
        %h3.zdy-red 核心价值
        %p
          “至真、至信、至善”
          %br
          “至真”抱诚守真，我们将所有信息以最原始的形态呈现，以万事求实的品格真诚服务，真心付出。
          %br
          “至信”以信为本，我们把信誉作为自身生存与发展的核心，以真取信，以信服人，讲信修睦，诚信经营。
          %br
          “至善”大道为善，我们肩负着为中小投资者提供定制化财富增长方案以及推动中国证券市场健康发展的使命，兢兢业业，创新发展，升华自我、贡献社会。
        %h3.zdy-red 公司愿景
        %p 我们立志于构建中国最具价值的互联网证券投资信息服务平台，为中小投资者提供多元化服务，让中小投资者享受普惠金融，享受中国经济以及中国股市的发展成果。同时为中国证券市场走向机构化的健康发展道路贡献动力。


= @navItem = 'pages'
= content_for :navItem
