
<div class="container content">
  陈永卿： CEO，毕业于浙江大学和日本早稻田大学，双硕士学位。先后任职于SunGard（全球最大的金融软件供应商），Misys，国金证券研究所。
  赵劼铖： CTO，毕业于浙江大学和澳洲国立大学，计算机硕士学位。先后任职于ebay，sumscope，高级架构师，技术人才。
  张凤： COO，毕业于上海大学，MBA。先后任职于招商证券、银河证券、好买基金网。
  侯兴国： CRO，毕业于黑龙江大学，法学硕士。先后任职于P2P平台-360金融网，擅长风险管理，法务处理。
</div>
