.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/about_us_side_nav", {activeItem: "contact_us"}
      .inline-block.relative.grid_10.p20
        %h3.zdy-red 公司总部
        %p
          上海市银翔路 515 号 612 室
          %br
          电话: 021-31587161
          %br
          传真: 021-31587165
        %h3.zdy-red 客服电话
        %p
          如果您在使用网站的过程中有任何疑问，请与客服人员联系。
          客服电话：400-8888-888
        %h3.zdy-red 媒体采访
        %p
          如果有媒体采访需求，请将您的媒体名称、采访提纲、联系方式发至：
          public@molstr.com，我们会尽快与您联系。
        %h3.zdy-red 商务合作
        %p
          如果贵公司希望与我们建立商务合作关系，形成优势互补，请将合作意向进行简要描述并发送邮件至：
          bd@molstr.com，我们会尽快与您联系。

- @navItem = 'pages'

