.pg-container-content
  #pg-account-index.pg-account
    .container.content.fn-clear
      .bg-white.p30
        = render "shares/about_us_side_nav", {activeItem: "join_us"}
        .inline-block.relative.grid_10.p20
          .company
            %h3.text-center 加入我们
            %p
              证津信息科技（上海）有限公司注册资本5000万元，总部位于上海，创始团队都毕业于国内外名校，具有硕士及以上学历，分别来自大型券商、知名IT企业以及律师事务所，会计师事务所等，具有扎实的专业知识与丰富的行业经验。证津信息科技旗下的“摩尔街”互联网平台为中国首家服务于中小投资者与专业操盘手的大型互联网投资、交流及信息服务平台， 专注于证券投资信息整合，微型私募委托投资以及互联网行政人服务等。
              “摩尔街”顺应互联网金融变革的浪潮，秉持“创新、真诚、透明、高效”的发展原则，以提供专业、有效的证券互联网投资服务为宗旨，不断进取，成为互联网金融发展潮流中的领航者，也成为推动中国证券行业逐步完善并健康发展的中坚力量！
          .pl30.pl30.mt30
            %h3.zdy-red.jjob 网站前端工程师
            %p 岗位职责： 与网站美工协作负责网站前端的开发。
            %h3.zdy-red.jjob 网站客服经理
            %p 岗位职责：接听400电话，利用即时通讯工具，解答顾客关于网站的咨询、疑问，优化客户体验；与其他部门保持良好的沟通，及时提交和反馈各项工作信息；为客户提供优质温馨的回访服务，提高顾客满意度。
            %h3.zdy-red.jjob 网站美工
            %p 岗位职责：负责网站美工设计，配色，配图。
            %h3.zdy-red.jjob 行政人事
            %p 岗位职责：人力资源工作（负责员工入离职手续办理、人事档案的健全和跟进；及时招聘到合适人选；负责新员工的培训工作；负责绩效与薪酬管理工作。）；行政管理工作（负责公司信息的上传下达、协调沟通工作；负责企业文化活动的组织和安排；负责办公用品的采购和发放。）

- @navItem = 'pages'
