.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/about_us_side_nav", {activeItem: "join_us"}
      .inline-block.relative.grid_10.p20
        %h3.zdy-red 网站前端工程师
        %p 岗位职责： 与网站美工协作负责网站前端的开发。
        %h3.zdy-red 网站客服经理
        %p 岗位职责：接听400电话，利用即时通讯工具，解答顾客关于网站的咨询、疑问，优化客户体验；与其他部门保持良好的沟通，及时提交和反馈各项工作信息；为客户提供优质温馨的回访服务，提高顾客满意度。
        %h3.zdy-red 网站美工
        %p 岗位职责：负责网站美工设计，配色，配图。
        %h3.zdy-red 行政人事
        %p 岗位职责：人力资源工作（负责员工入离职手续办理、人事档案的健全和跟进；及时招聘到合适人选；负责新员工的培训工作；负责绩效与薪酬管理工作。）；行政管理工作（负责公司信息的上传下达、协调沟通工作；负责企业文化活动的组织和安排；负责办公用品的采购和发放。）

- @navItem = 'pages'

