.pg-container-content
  #pg-account-index.pg-account
    .container.content.fn-clear.bg-white
      .bg-white.p30
        = render "shares/about_us_side_nav", {activeItem: "join_us"}
        .inline-block.relative.grid_10.p20
          .company
            .headline
              %h3.title-font 加入我们
            %p
              摩尔街是什么？垂直网站么？社区么？平台么?
            %p
              好像都有点，也都不完全。
            %p
              有一点是恒定、今后也不会变的，那就是我们一开始做这件事的初衷：对接优秀操盘手和小微投资人，并帮助他们提升投资业绩。
            %p
              为此，一群有激情有梦想的年轻人聚集到一起风里来雨里去，晨晨昏昏。但是，还不够。远远不够。图森破。除了梦想驱动，我们还能玩儿点别的么？为此，我们准备找更多的入伙，如果你愿意跟我们这么一个“目前”规模仍不大的团队一起创造点儿什么，经历一家注定将要走远路的公司难能可贵的初创期，那么，赶快加入我们吧。
            %p
              摩尔街没有什么？堪与大公司匹敌的薪水。
              %br
              摩尔街有什么？极简的决策流程、可以发挥产品设计想象的极大空间。想到？棒极了？那就做！
              %br
              我们有什么期望与要求？
            %p
              以下是各个空缺岗位具体职责与要求，有意者请详阅，并发简历、相应作品及个人阐述至：
            %p
              molstr@molstr.com


          .pl30.mt30
            %p.fs18.fw500.ml-12 【网站推广专员】
            %p 
              岗位职责（工作内容和主要职责）：
              %br
              1、负责公司主营业务、品牌线上的宣传推广，制定执行推广方案，跟踪和分析推广效果，进行持续优化和调整，提升网站流量和知名度，促进运营目标；
              %br
              2、熟悉各种搜索引擎，其他新兴网络推广媒介，负责网站关键字的排名，推广账户管理；
              %br
              3、跟踪、搜集与公司相关的网络市场信息，针对存在的问题提出解决方案；
              %br
              4、有良好的文字功底，撰写软文，负责网站链接推广；
              %br
              5、向主管经理日常工作汇报。
              %br
            %p 
              任职要求：
              %br
              1、工作积极主动，责任心强，善于思考学习，具备较高敬业精神和执行力及团队合作精神，有较强的语言表达沟通能力；
              %br
              2、2年以上的网站推广经验；
              %br
              3、 擅长各类网络推广方式、宣传文案的策划与写作、善于网上沟通与外联，熟悉网站内容编辑工作，能进行基本的网页编辑、图形处理，对网络营销有深入专研；
              %br
              4、 有推广及运营过中大型网络营销类网站者优先。


            %p.fs18.fw500.pt30.ml-12 【网站前端】
            %p 
              岗位职责（工作内容和主要职责）：
              %br
              1、负责网站基础组件开发，前端页面制作，以及前端与业务层交互设计、开发；
              %br
              2、优化及提高前端代码的质量，提升前端网站加载速度，包括服务端与客户端的整体用户体验；
              %br
              3、有分析、调试、优化和解决问题的能力，能够独立完成项目开发。
              %br
            %p 
              岗位要求：
              %br
              1、相关专业大专及以上学历，两年以上网页设计、美工工作经验；
              %br
              2、有丰富的互联网相关设计经验，对目前各新型网站的设计风格有敏锐的嗅觉力；
              %br
              3、精通Flash/Photoshop/Coreldraw/ Dreamweaver/Illustrator等相关设计工具；
              %br
              4、熟悉W3C标准，熟悉DIV+CSS方式页面设计，熟练掌握HTML/CSS/JAVASCRIPT/ Ajax/jQuery等页面技术及工具的使用；
              %br
              5、熟悉网站制作流程，能够与程序开发人员很好的协作；
              %br
              6、具有较强的美术功底，擅长创意，有良好的沟通、协作能力、诚实守信；
              %br
              7、有电商及P2P网站相关网页设计经验者优先。

            %p.fs18.fw500.pt30.ml-12 【客服】
            %p 
              岗位职责（工作内容和主要职责）：
              %br
              1.  接听400电话，利用即时通讯工具，解答顾客关于网站的咨询、疑问，增加客户体验
              %br
              2.  与其他部门保持良好的沟通，及时提交和反馈各项工作信息。
              %br
              3.  为客户提供优质温馨的回访服务，提高顾客满意度。
              %br
            %p 
              任职要求：
              %br
              1.  专科以上
              %br
              2.  声音甜美，普通话标准，沟通表达能力佳；
              %br 
              3.  良好的执行力和团队合作精神； 
              %br
              4.  熟悉客户服务的业务模式，有相关工作经验的优先。
              %br
              5.  有过股票投资经验或行业经验的优先

            %p.fs18.fw500.pt30.ml-12 【财务总监】
            %p 
              岗位职责（工作内容和主要职责）：
              %br
              1、负责组织公司全盘账务处理:包括会计核算 填制会计凭证 登记会计账薄 月度结账 编制会计报表等；
              %br
              2、负责编制公司会计，统计 管理报表；
              %br
              3、负责审核线上与线下各项收支预算，加强成本费用的核算与控制；
              %br
              4、负责向主管税务机关：国税地税定期纳税申报；
              %br
              5、负责与其他政府主管部门的报表报送，备案和年审；
              %br
              6、协助财务负责人拟定并完善相关财务，会计制度，并协调执行；
              %br
              7、协助财务负责人与相关业务部门合作，参与业务流程与内部控制流程的拟定，保障公司财务运营与会计核算的效率及有效性；
              %br
              8、协助组织相关财税，会计等档案资料的管理；
              %br
              9、接受上级及其他工作安排；
              %br
            %p 
              任职要求：
              %br
              1、学历和技能：财务会计 审计金融等相关专业；专科及以上学历，能熟练运用WORD,EXCEL等办公软件；
              %br
              2、工作经验：5年以上财务工作经验，其中具金融或金融类企业网络金融经验优先，熟悉金融政策法规及会计法规，会计准则，财税政策法规；
              %br
              3、具有良好职业道德，责任心及自我管理能力强，良好团队协作精神。

- @navItem = 'pages'
