.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/about_us_side_nav", {activeItem: "our_team"}
      .inline-block.relative.grid_10.p20
      .row.team.margin-bottom-0
        .col-sm-4
          .thumbnail-style
            %img.img-responsive{:src => "assets/images/team/01.jpg"}
            %h3
              %a 陈永卿
              %small Chief Excutive Officer
              %p 毕业于浙江大学和日本早稻田大学，双硕士学位。先后任职于SunGard（全球最大的金融软件供应商），Misys，国金证券研究所。  

        .col-sm-4
          .thumbnail-style
            %img.img-responsive{:src => "assets/img/team/1.jpg"}
            %h3
              %a J赵劼铖
              %small Chief Excutive Officer
              %p 毕业于浙江大学和澳洲国立大学，计算机硕士学位。先后任职于ebay，sumscope，高级架构师，技术人才。   
        .col-sm-4
          .thumbnail-style
            %img.img-responsive{:src => "assets/img/team/1.jpg"}
            %h3
              %a J张凤
              %small Chief Excutive Officer
              %p 毕业于上海大学，MBA。先后任职于招商证券、银河证券、好买基金网。   
        .col-sm-4
          .thumbnail-style
            %img.img-responsive{:src => "assets/img/team/1.jpg"}
            %h3
              %a 侯兴国
              %small Chief Excutive Officer
              %p 毕业于黑龙江大学，法学硕士。先后任职于P2P平台-360金融网，擅长风险管理，法务处理。    
- @navItem = 'pages'

