.pg-container-content
  #pg-account-index.pg-account
    .container.content.fn-clear.bg-white
      .bg-white.p30
        = render "shares/about_us_side_nav", {activeItem: "our_team"}
        %div
          .inline-block.relative.grid_10
          .row.team.margin-bottom-0
            .col-md-9
              .w96-pert
                .thumbnail-style
                  .img-box
                    %img.img-responsive{:src => "/assets/testimonials/img1-d53e287a6c69ad6c82899501d21491e1.jpg"}
                    %a.fs18 陈永卿
                    .fs18 CEO
                  %div.inline-block.teamintro 
                    毕业于浙江大学和日本早稻田大学，双硕士学位。先后任职于SunGard（全球最大的金融软件供应商），Misys，国金证券研究所。

              .w96-pert
                .thumbnail-style
                  .img-box
                    %img.img-responsive{:src => "/assets/testimonials/img1-d53e287a6c69ad6c82899501d21491e1.jpg"}
                    %a.fs18 J赵劼铖
                    .fs18 CTO
                  %div.inline-block.teamintro 
                    毕业于浙江大学和澳洲国立大学，计算机硕士学位。先后任职于ebay，sumscope，高级架构师，技术人才。
         
              .w96-pert
                .thumbnail-style
                  .img-box
                    %img.img-responsive{:src => "/assets/testimonials/img1-d53e287a6c69ad6c82899501d21491e1.jpg"}
                    %a.fs18 J张凤
                    .fs18 COO
                  %div.inline-block.teamintro 
                    毕业于上海大学，MBA。先后任职于招商证券、银河证券、好买基金网。                      
              .w96-pert
                .thumbnail-style
                  .img-box
                    %img.img-responsive{:src => "/assets/testimonials/img1-d53e287a6c69ad6c82899501d21491e1.jpg"}
                    %a.fs18 侯兴国
                    .fs18 CRO
                  %div.inline-block.teamintro 
                    毕业于黑龙江大学，法学硕士。先后任职于P2P平台-360金融网，擅长风险管理，法务处理。                     
- @navItem = 'pages'
