.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/about_us_side_nav", {activeItem: "our_events"}
      .inline-block.relative.grid_10.p20
        %h3 2014年11月11号 团队成立
        %h3 2014年12月25号 网站测试版上线
        %h3 2015年3月15号 网站正式上线

= @navItem = 'pages'
= content_for :navItem
