.pg-container-content
  #pg-account-index.pg-account
    .container.content.fn-clear.bg-white
      .bg-white.p30
        = render "shares/about_us_side_nav", {activeItem: "our_team"}
        %div
          .inline-block.relative.grid_10
          .row.team.margin-bottom-0
            .col-md-9
              .w96-pert
                .thumbnail-style
                  .img-box
                    %img.img-responsive{:src => "/assets/testimonials/img1-d53e287a6c69ad6c82899501d21491e1.jpg"}
                    %a.fs18 陈永卿
                    .fs18 CEO
                  %div.inline-block.teamintro.mt17 
                    毕业于浙江大学和日本早稻田大学，双硕士学位。先后任职于SunGard（全球最大的金融软件供应商），Misys，国金证券研究所。多年的证券行业从业经验及证券IT系统建设经验，致力于用最新的技术服务于证券投资，为广大小微投资人在证券市场中获取公平交易机会提供帮助。
              .w96-pert
                .thumbnail-style
                  .img-box
                    %img.img-responsive{:src => "/assets/testimonials/img1-d53e287a6c69ad6c82899501d21491e1.jpg"}
                    %a.fs18 林晓
                    .fs18 首席技术官
                  %div.inline-block.teamintro.mt-50
                    毕业于上海交通大学，计算机硕士。持有软件资格水平考试：程序员/ＳUN SOLARI、认证系统管理员/IBM AIX、认证系统管理员/SUN JAVA、 认证程序员/ＣＡ、认证安全工程师/ ADOBE、认证多媒体工程师。丰富的项目管理和软件开发经验。曾经负责白猫集团、 朝华数字娱乐、ThinkBridge Consulting等公司的技术和项目开发工作，参与主持了、包括野村证券ＮＥＸＴ交易系统、中国联通信息管理流程系统等大型软件工程的开发和管理工作。
              .w96-pert
                .thumbnail-style
                  .img-box
                    %img.img-responsive{:src => "/assets/testimonials/img1-d53e287a6c69ad6c82899501d21491e1.jpg"}
                    %a.fs18 张凤
                    .fs18 运营总监
                  %div.inline-block.teamintro.mt90
                    毕业于上海大学，MBA。先后任职于招商证券、银河证券、好买基金网。多年的客户管理、业务开拓、网站运营。
              .w96-pert
                .thumbnail-style
                  .img-box
                    %img.img-responsive{:src => "/assets/testimonials/img1-d53e287a6c69ad6c82899501d21491e1.jpg"}
                    %a.fs18 侯兴国
                    .fs18 首席风险官
                  %div.inline-block.teamintro 
                    毕业于黑龙江大学，法学硕士，常年从事股票和期货市场投资，曾任某大型私募基金的交易风险管理员，具有丰富的交易和风控经验，擅长风险量化并对中国金融法规及市场规则有深刻理解。                  
- @navItem = 'pages'
