.pg-container-content
  #pg-account-index.pg-account
    .container.content.fn-clear.bg-white
      .bg-white.p30
        = render "shares/about_us_side_nav", {activeItem: "our_events"}
        .inline-block.relative.grid_10.p20
          %ul.timeline-v2
            %li
              %time.cbp_tmtime{:datetime => ""}
                %span 2015年3月
              %i.cbp_tmicon.rounded-x.hidden-xs
              .cbp_tmlabel
                %p
                经过反复测试和修改，并结合首批原始用户的意见，网站正式上线，开创国内互联网委托操盘的新纪元。

            %li
              %time.cbp_tmtime{:datetime => ""}
                %span 2014年12月
              %i.cbp_tmicon.rounded-x.hidden-xs
              .cbp_tmlabel
                %p
                创始团队经过一个多月的封闭开发，网站测试版上线，开展内部测试。
            %li
              %time.cbp_tmtime{:datetime => ""}
                %span 2014年11月
              %i.cbp_tmicon.rounded-x.hidden-xs
              .cbp_tmlabel
                %p
                创始人从国金证券离职，组建创始团队，该团队包含技术、风控、市场多方面深厚证券行业经验的人才。
            %li
              %time.cbp_tmtime{:datetime => ""}
                %span 2014年10月  
              %i.cbp_tmicon.rounded-x.hidden-xs
              .cbp_tmlabel
                %p
                创始人在国金证券研究所工作，服务大量私募基金公司后，萌发了将互联网技术运用于民间委托操盘，改变该领域信息不对称难题的构想。


- @navItem = 'pages'
