.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/about_us_side_nav", {activeItem: "qualification_and_honors"}
      .inline-block.relative.grid_10.p20
        .row
          .col-md-12.text-center
            %h3.zdy-red.text-left 营业执照
            = image_tag "about_us/营业执照副.jpg",width: "60%"
        .row
          .col-md-12.text-center
            %h3.zdy-red.text-left 组织机构代码证
            = image_tag "about_us/组织机构代码证.png",width: "80%"
        .row
          .col-md-12.text-center
            %h3.zdy-red.text-left 税务登记证
            = image_tag "about_us/税务登记证.png",width: "80%"
        .row
          .col-md-12
            %h3.zdy-red 信用机构代码证
        .row
          .col-md-12
            %h3.zdy-red 开户许可证
