<div class="jumbotron home">
	<!--=== Slider ===-->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 1">
                    <!-- MAIN IMAGE -->
                    <img src="/assets/1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    
                </li>
                <!-- END SLIDE -->

                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                    <!-- MAIN IMAGE -->
                    <img src="/assets/5.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                </li>
                <!-- END SLIDE -->

                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 3">
                    <!-- MAIN IMAGE -->
                    <img src="/assets/3.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="right top" data-bgrepeat="no-repeat">

                </li>
                <!-- END SLIDE -->

                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 4">
                    <!-- MAIN IMAGE -->
                    <img src="/assets/2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                </li>
                <!-- END SLIDE -->                

                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 5">
                    <!-- MAIN IMAGE -->
                    <img src="/assets/4.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="right top" data-bgrepeat="no-repeat">
                </li>
                <!-- END SLIDE -->
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>            
        </div>
    </div>
    <!--=== End Slider ===-->
    <div class="int-box" >
	    <div class="container">
	      <div class="int-wrapper">
	        <div ng-show="!isAuthenticated()" class="">
	          <h6 class="int-title">点融网历史年化收益率</h6>
	          <p>
	            <small>平均</small>
	            <span class="big-int">14.07%</span></p>
	          <p><em class="multi">40</em>倍活期存款收益<em>3</em>倍货币基金收益</p>
			  <%= link_to("立即注册",new_user_registration_path,class: "btn btn-block btn-secondary",rel: "nofollow") %>
	          <p class="text-right">已有账号？<%= link_to("立即登录",new_user_session_path,rel: "nofollow") %></p>
	        </div>

	        <div ng-show="isAuthenticated()" class="ng-hide">
	          <h6 class="int-title">欢迎回来，<span class="userName ng-binding"></span></h6>
	          <p class="account-title">账户可用余额</p>
	          <p class="amount">
	            <span class="big-int ng-binding" ng-bind-html="cart.availableToInvest|slMoney"><small>元</small></span>
	            <a class="top-up" href="/account/my-account#/transfer?recharge=true">充值</a>
	          </p>
	          <a href="/account/my-account" class="btn btn-block btn-secondary">我的账户</a>
	        </div>
	      </div>
	    </div>
  	</div>
	
	<!--  安全  收益 保障 -->
  	<div class="container content">
        <!-- Begin Service Block -->
        <div class="row margin-bottom-40">
            <div class="col-md-4 col-sm-6">
                <div class="service-block service-block-sea service-or">
                    <div class="service-bg"></div>                
                    <i class="icon-custom icon-color-light rounded-x fa fa-lightbulb-o"></i>
                    <h2 class="heading-md">安全</h2>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>                        
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-block service-block-red service-or">
                    <div class="service-bg"></div>                
                    <i class="icon-custom icon-color-light rounded-x icon-line icon-fire"></i>
                    <h2 class="heading-md">收益</h2>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="service-block service-block-blue service-or">
                    <div class="service-bg"></div>                
                    <i class="icon-custom icon-color-light rounded-x icon-line icon-rocket"></i>
                    <h2 class="heading-md">保障</h2>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                </div>
            </div>
        </div>
        <!-- End Begin Service Block -->    
    </div>
    <!-- 投资操盘列表 -->
    <div class="container_12">
	    <div class="loan mb fn-clear">
	        <div class="grid_12">
	          <div class="list-title loan">
	            <span class="on">投资列表</span>
	          </div>
	          <ul class="ui-list ui-list-m ui-list-invest" id="loan-list">

					<li class="ui-list-header fn-clear" id="loan-list-header">
					  <span class="ui-list-title fn-left color-gray-text w260">借款标题</span>
					  <span class="ui-list-title fn-left color-gray-text text-center w80" title="借款人在人人贷的个人信用评级">信用等级</span>
					  <span class="ui-list-title fn-left color-gray-text text-center w120">年利率</span>
					  <span class="ui-list-title fn-left color-gray-text text-center w160">金额</span>
					  <span class="ui-list-title fn-left color-gray-text text-center w100">期限</span>
					  <span class="ui-list-title fn-left color-gray-text text-center w110">进度</span>
					  <span class="ui-list-title fn-left color-gray-text text-center w80"></span>
					</li>


					<li class="ui-list-item fn-clear ">
					  <span class="ui-list-field fn-left text-big w260">
					    <em class="ui-loantype XYRZ" title="信用认证标"></em><a class="fn-left w210 rrd-dimgray fn-text-overflow" href="/lend/detailPage.action?loanId=488977" target="_blank" title="网上投资创业">网上投资创业</a>
					  </span>
					  <span class="ui-list-field fn-left w80"><a class="ui-creditlevel HR snow">HR</a></span>
					  <span class="ui-list-field fn-left num text-right w90 pr30"><em class="value">12.00</em>%</span>
					  <span class="ui-list-field fn-left num text-right w130 pr30"><em class="value">10,000</em>元</span>
					  <span class="ui-list-field fn-left num text-right w80 pr30"><em class="value">12</em>个月</span>
					  <span class="ui-list-field fn-left w110">
					    <strong class="ui-progressbar-mid ui-progressbar-mid-100"><em>100</em>%</strong>
					  </span>
					  <span class="ui-list-field fn-left w80">
					    <a class="ui-button ui-button-mid ui-button-blue ui-list-invest-button ui-list-invest-button-IN_PROGRESS">
					      <span class="OPEN">投标</span>
					      <span class="READY FIRST_READY">已满标</span>
					      <span class="IN_PROGRESS">还款中</span>
					    </a>
					  </span>
					  <!-- <div class="ui-poptip ui-poptip-white" style="display: none;" data-ui-name="ui-poptip">
					    <div class="ui-poptip-container">
					      <div class="ui-poptip-arrow ui-poptip-arrow-10"><em></em><span></span></div>
					      <div class="ui-poptip-content">信用认证标</div>
					    </div>
					  </div> -->
					</li>

					<li class="ui-list-item fn-clear ">
					  <span class="ui-list-field fn-left text-big w260">
					    <em class="ui-loantype JGDB" title="机构担保标"></em><a class="fn-left w210 rrd-dimgray fn-text-overflow" href="/lend/detailPage.action?loanId=495211" target="_blank" title="个人消费">个人消费</a>
					  </span>
					  <span class="ui-list-field fn-left w80"><a class="ui-creditlevel A snow">A</a></span>
					  <span class="ui-list-field fn-left num text-right w90 pr30"><em class="value">11.50</em>%</span>
					  <span class="ui-list-field fn-left num text-right w130 pr30"><em class="value">41,900</em>元</span>
					  <span class="ui-list-field fn-left num text-right w80 pr30"><em class="value">24</em>个月</span>
					  <span class="ui-list-field fn-left w110">
					    <strong class="ui-progressbar-mid ui-progressbar-mid-100"><em>100</em>%</strong>
					  </span>
					  <span class="ui-list-field fn-left w80">
					    <a class="ui-button ui-button-mid ui-button-blue ui-list-invest-button ui-list-invest-button-IN_PROGRESS">
					      <span class="OPEN">投标</span>
					      <span class="READY FIRST_READY">已满标</span>
					      <span class="IN_PROGRESS">还款中</span>
					    </a>
					  </span>
					  <!-- <div class="ui-poptip ui-poptip-white" style="display: none;" data-ui-name="ui-poptip">
					    <div class="ui-poptip-container">
					      <div class="ui-poptip-arrow ui-poptip-arrow-10"><em></em><span></span></div>
					      <div class="ui-poptip-content">机构担保标</div>
					    </div>
					  </div> -->
					</li>

					<li class="ui-list-item fn-clear ">
					  <span class="ui-list-field fn-left text-big w260">
					    <em class="ui-loantype SDRZ" title="实地认证标"></em><a class="fn-left w210 rrd-dimgray fn-text-overflow" href="/lend/detailPage.action?loanId=495299" target="_blank" title="资金周转">资金周转</a>
					  </span>
					  <span class="ui-list-field fn-left w80"><a class="ui-creditlevel A snow">A</a></span>
					  <span class="ui-list-field fn-left num text-right w90 pr30"><em class="value">12.60</em>%</span>
					  <span class="ui-list-field fn-left num text-right w130 pr30"><em class="value">94,200</em>元</span>
					  <span class="ui-list-field fn-left num text-right w80 pr30"><em class="value">36</em>个月</span>
					  <span class="ui-list-field fn-left w110">
					    <strong class="ui-progressbar-mid ui-progressbar-mid-100"><em>100</em>%</strong>
					  </span>
					  <span class="ui-list-field fn-left w80">
					    <a class="ui-button ui-button-mid ui-button-blue ui-list-invest-button ui-list-invest-button-IN_PROGRESS">
					      <span class="OPEN">投标</span>
					      <span class="READY FIRST_READY">已满标</span>
					      <span class="IN_PROGRESS">还款中</span>
					    </a>
					  </span>
					  <!-- <div class="ui-poptip ui-poptip-white" style="display: none;" data-ui-name="ui-poptip">
					    <div class="ui-poptip-container">
					      <div class="ui-poptip-arrow ui-poptip-arrow-10"><em></em><span></span></div>
					      <div class="ui-poptip-content">实地认证标</div>
					    </div>
					  </div> -->
					</li>

					<li class="ui-list-item fn-clear">
					  <span class="ui-list-field fn-left text-big w260">
					    <em class="ui-loantype SDRZ" title="实地认证标"></em><a class="fn-left w210 rrd-dimgray fn-text-overflow" href="/lend/detailPage.action?loanId=495291" target="_blank" title="装修">装修</a>
					  </span>
					  <span class="ui-list-field fn-left w80"><a class="ui-creditlevel A snow">A</a></span>
					  <span class="ui-list-field fn-left num text-right w90 pr30"><em class="value">12.60</em>%</span>
					  <span class="ui-list-field fn-left num text-right w130 pr30"><em class="value">38,100</em>元</span>
					  <span class="ui-list-field fn-left num text-right w80 pr30"><em class="value">36</em>个月</span>
					  <span class="ui-list-field fn-left w110">
					    <strong class="ui-progressbar-mid ui-progressbar-mid-100"><em>100</em>%</strong>
					  </span>
					  <span class="ui-list-field fn-left w80">
					    <a class="ui-button ui-button-mid ui-button-blue ui-list-invest-button ui-list-invest-button-IN_PROGRESS">
					      <span class="OPEN">投标</span>
					      <span class="READY FIRST_READY">已满标</span>
					      <span class="IN_PROGRESS">还款中</span>
					    </a>
					  </span>
					  <!-- <div class="ui-poptip ui-poptip-white" style="display: none;" data-ui-name="ui-poptip">
					    <div class="ui-poptip-container">
					      <div class="ui-poptip-arrow ui-poptip-arrow-10"><em></em><span></span></div>
					      <div class="ui-poptip-content">实地认证标</div>
					    </div>
					  </div> -->
					</li>



					<li class="ui-list-more">
					  <a class="darkgray" href="/lend/loanList.action" target="_blank">查看更多投资理财项目</a>
					</li>
				</ul>
	        </div>
	    </div>
	</div>

	<!-- -->
	<div class="block-v1">
        <div class="container">
            <div class="row content-boxes-v3">
                <div class="col-md-4 md-margin-bottom-30">
                    <i class="icon-custom rounded-x icon-bg-dark fa fa-lightbulb-o"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">xx用户</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                    </div>
                </div>
                <div class="col-md-4 md-margin-bottom-30">
                    <i class="icon-custom rounded-x icon-bg-dark fa fa-flask"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">xx用户</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <i class="icon-custom rounded-x icon-bg-dark fa fa-bolt"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">xx用户</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                    </div>
                </div>
            </div>                
        </div>
    </div>

    <!-- -->
    <div class="container content">
    	<div class="col-md-3">
	    	<div class="posts">
		    	<div class="headline headline-md"><h2>热门话题</h2></div>
		        <dl class="dl-horizontal">
		            <dt><a href="#"><img src="assets/sliders/elastislide/6.jpg" alt=""></a></dt>
		            <dd>
		                <p><a href="#">Responsive Bootstrap 3 Template placerat idelo alac eratamet.</a></p> 
		            </dd>
		        </dl>
		        <dl class="dl-horizontal">
		            <dt><a href="#"><img src="assets/sliders/elastislide/10.jpg" alt=""></a></dt>
		            <dd>
		                <p><a href="#">100+ Amazing Features Layer Slider, Layer Slider, Icons, 60+ Pages etc.</a></p> 
		            </dd>
		        </dl>
		        <dl class="dl-horizontal">
		            <dt><a href="#"><img src="assets/sliders/elastislide/11.jpg" alt=""></a></dt>
		            <dd>
		                <p><a href="#">Developer Friendly Code imperdiet condime ntumi mperdiet condim.</a></p> 
		            </dd>
		        </dl>
		    </div>
	    </div>

	    <div class="col-md-9">
	    	<div class="news mb fn-clear" id="news-section">
			  <div class="grid_12">
			    <div class="list-title news">
			      <span class="on">最新动态</span>
			    </div>
			    <ul class="ui-list ui-list-m ui-list-news" id="news-list">
			      <li class="ui-list-item fn-clear ">
			        <p class="fn-left field decoration"></p>
			        <p class="fn-left field text color-silver-text fn-text-overflow">
			          <a class="title text-big rrd-dimgray" href="/about/detail.action?news_id=news_327" target="_blank">人人贷携手民生银行 推进P2P资金托管全面升级</a>
			          <span class="content text-small"></span>
			        </p>
			        <p class="fn-left field date color-darkgray-text">2015-02-10</p>
			      </li>
			      <li class="ui-list-item fn-clear ">
			        <p class="fn-left field decoration"></p>
			        <p class="fn-left field text color-silver-text fn-text-overflow">
			          <a class="title text-big rrd-dimgray" href="/about/detail.action?news_id=news_326" target="_blank">人人贷荣获中国互联网金融最具竞争力企业奖</a>
			          <span class="content text-small"></span>
			        </p>
			        <p class="fn-left field date color-darkgray-text">2015-02-02</p>
			      </li>
			      <li class="ui-list-item fn-clear ">
			        <p class="fn-left field decoration"></p>
			        <p class="fn-left field text color-silver-text fn-text-overflow">
			          <a class="title text-big rrd-dimgray" href="/about/detail.action?news_id=news_325" target="_blank">人人贷荣获2014年度互联网金融企业社会责任优秀企业奖</a>
			          <span class="content text-small"></span>
			        </p>
			        <p class="fn-left field date color-darkgray-text">2014-09-22</p>
			      </li>
			      <li class="ui-list-item fn-clear ">
			        <p class="fn-left field decoration"></p>
			        <p class="fn-left field text color-silver-text fn-text-overflow">
			          <a class="title text-big rrd-dimgray" href="/about/detail.action?news_id=news_324" target="_blank">人人贷管理团队荣登2014中国40位40岁以下商界精英前四强</a>
			          <span class="content text-small"></span>
			        </p>
			        <p class="fn-left field date color-darkgray-text">2014-09-02</p>
			      </li>
			    <li class="ui-list-more">
			      <a class="darkgray" href="/about/about.action?flag=news">查看更多网站动态</a>
			    </li>
			    </ul>
			  </div>
			</div>
	    </div>
    
    </div>
	
</div>