/
  if the third pay is successful
  the state shold be confirmed,
  or it should be pending
.container.content.fund-show-pending
  - if @billing.state == confirmed
    %h2.text-center 订单已提交成功
  - else
    %h2.text-center 订单未处理
