= simple_form_for(@billing, url: bankcard_charged_user_account_path, html: {onsubmit: "return doCharge()",id:"chargeForm2"}) do |f|
  %input#bankCode{:name => "billing[billing_type]", :type => "hidden"}/
  %input{:name => "type", :type => "hidden", :value => "DEBITBANK"}/
  %input#charge{:name => "charge", :type => "hidden", :value => "0"}/
  .ml50.mr50.mb30
    #banklist{:style => "display:block;"}
      .uc-topic 选择充值银行
      .uc-banklist.clearfix
        %dd.icbc
          %input#icbc{:name => "bank", :title => "icbc", :type => "radio", :value => "icbc"}/
          %label.curr{:for => "icbc"}
        %dd.cbc
          %input#cbc{:name => "bank", :title => "cbc", :type => "radio", :value => "cbc"}/
          %label{:for => "cbc"}
        %dd.abc
          %input#abc{:name => "bank", :title => "abc", :type => "radio", :value => "abc"}/
          %label{:for => "abc"}
        %dd.cmb
          %input#cmb{:name => "bank", :title => "cmb", :type => "radio", :value => "cmb"}/
          %label{:for => "cmb"}
        %dd.bcm
          / 交通银行
          %input#bcm{:name => "bank", :title => "bcm", :type => "radio", :value => "bcm"}/
          %label{:for => "bcm"}
        %dd.boc
          %input#boc{:name => "bank", :title => "boc", :type => "radio", :value => "boc"}/
          %label{:for => "boc"}
        %dd.spdb
          %input#spdb{:name => "bank", :title => "spdb", :type => "radio", :value => "spdb"}/
          %label{:for => "spdb"}
        %dd.gdb
          %input#gdb{:name => "bank", :title => "gdb", :type => "radio", :value => "gdb"}/
          %label{:for => "gdb"}
        %dd.cmbc
          %input#cmbc{:name => "bank", :title => "cmbc", :type => "radio", :value => "cmbc"}/
          %label{:for => "cmbc"}
        %dd.ceb
          %input#ceb{:name => "bank", :title => "ceb", :type => "radio", :value => "ceb"}/
          %label{:for => "ceb"}
        %dd.cib
          %input#cib{:name => "bank", :title => "cib", :type => "radio", :value => "cib"}/
          %label{:for => "cib"}
        %dd{:style => "background: url(http://www.yztz.com/res/images/select-icon.jpg) no-repeat 140px 23px;"}
          %input#hide-bank{:type => "hidden", :value => ""}/
          .other 请选择其他银行
          .other-bank{:style => "display: none;"}
            %span{"data-bank" => "hxb",:name => "billing[billing_type]",} 华夏银行
            %span{"data-bank" => "ccb"} 中信银行
            %span{"data-bank" => "sdb"} 深圳发展银行
            %span{"data-bank" => "pab"} 平安银行
            %span{"data-bank" => "psbc"} 邮政储蓄银行
            %span{"data-bank" => "bob"} 北京银行
            %span{"data-bank" => "nbcb"} 宁波银行
            %span{"data-bank" => "bohc"} 渤海银行
            %span{"data-bank" => "beai"} 东亚银行
            %span{"data-bank" => "czb"} 浙商银行
            %span{"data-bank" => "njcb"} 南京银行
            %span{"data-bank" => "bjrcb"} 北京农村商业银行
    .uc-topic{:style => "padding-top:10px;"}
      填写充值金额
    .ml50
      %table.sc-form{:width => "100%"}
        %tbody
          %tr
            %td.f-label.w190 账户余额
            %td.f-value
              %em#showBalance.h= current_user.account.balance
              %em.unit 元
          %tr
            %td.f-label 充值金额
            %td.f-value
              %input#money.ui-input.mr10.numberic{:autocomplete => "off", :name => "billing[amount]",:maxlength => 7}>/
              元
          %tr
            %td.f-label
            %td.f-value-2
              %input.btn.btn-l{:type => "submit", :value => "提交"}/
    #banks_desc
      %table#icbc_desc.uc-bankdesc{:style => "display: table;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 工商银行借记卡支付额度表  /  客服电话 95588
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 存量静态密码
            %td{:colspan => "2"} 累计300元
            %td 已无法申请
          %tr
            %td 电子银行口令卡
            %td 500
            %td 1000
            %td{:rowspan => "3"} 柜面/网上自助开通
          %tr
            %td 电子银行口令卡+手机短信认证
            %td 2000
            %td 5000
          %tr
            %td U盾
            %td 不限
            %td 不限
      %table#abc_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 农业银行行借记卡支付额度表 / 客服电话 95599
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 浏览器证书+动态口令卡
            %td 1000
            %td 3000
            %td{:rowspan => "2"} 柜面开通
          %tr
            %td Key宝总行证书
            %td{:colspan => "2"} 无限额
      %table#boc_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 中国银行借记卡支付额度表 / 客服电话 95566
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 动态口令卡
            %td 5万
            %td 无限额
            %td 柜面开通
      %table#cbc_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 建设银行借记卡支付额度表 / 客服电话 95533
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 验证码
            %td 1000
            %td 1000
            %td{:rowspan => "3"} 柜面开通
          %tr
            %td 动态口令卡
            %td 5万
            %td 5万
          %tr
            %td 网银盾（U宝）
            %td 50万
            %td 50万
      %table#bcm_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 交通银行借记卡支付额度表 / 客服电话 95559
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 手机注册
            %td 5000
            %td 5000
            %td{:rowspan => "3"} 柜面开通
          %tr
            %td 证书支付
            %td 5万
            %td 5万
      %table#cmb_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 招商银行借记卡支付额度表 / 客服电话 95555
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 大众版
            %td 500
            %td 500
            %td 网上自助开通
          %tr
            %td 专业版
            %td 无限额
            %td 无限额
            %td 柜面开通
      %table#cmbc_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 民生银行借记卡支付额度表 / 客服电话 95568
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 贵宾版数字证书
            %td 5000
            %td 5000
            %td{:rowspan => "2"} 柜面开通
          %tr
            %td 贵宾版（U宝）
            %td 2万
            %td 2万
      %table#ceb_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 中国光大银行借记卡支付额度表 / 客服电话 95595
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 动态密码支付
            %td 5000
            %td 5000
            %td{:rowspan => "3"} 柜面开通
          %tr
            %td 阳光网盾
            %td 20万
            %td 20万
          %tr
            %td 动态口令牌
            %td 50万
            %td 50万
      %table#cib_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 兴业银行借记卡支付额度表 / 客服电话 95561
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 手机验证
            %td 自选1000/5000
            %td 自选1000/5000
            %td{:rowspan => "3"} 柜面开通
          %tr
            %td 电子支付卡（e卡）
            %td 5000
            %td 5000
          %tr
            %td 证书支付
            %td 无限额
            %td 无限额
      %table#hxb_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 华夏银行借记卡支付额度表 / 客服电话 95577
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 直接支付
            %td 1000
            %td 5000
            %td 网上自助开通
          %tr
            %td 电子钱包签约
            %td{:colspan => "2"} 用户自行设置
            %td 柜面开通
      %table#ccb_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 中信银行借记卡支付额度表 / 客服电话 95558
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 文件证书
            %td 1000
            %td 5000
            %td{:rowspan => "2"} 柜面开通
          %tr
            %td 移动证书
            %td 100万
            %td 100万
      %table#spdb_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 上海浦东发展银行借记卡支付额度表 / 客服电话 95528
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 动态密码版
            %td 客户自行设置
            %td 20万
            %td{:rowspan => "2"} 柜面开通
          %tr
            %td 数字证书版
            %td 客户自行设置
            %td 100亿
      %table#gdb_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 广东发展银行借记卡支付额度表 / 客服电话 95508
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 手机动态验证码
            %td 3000
            %td 3000
            %td 网上自助开通
          %tr
            %td KEY盾
            %td 30万
            %td 30万
            %td 柜面开通
      %table#sdb_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 深圳发展银行借记卡支付额度表 / 客服电话 95501
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 刮刮卡
            %td 5000
            %td 5000
            %td{:rowspan => "3"} 柜面开通
          %tr
            %td KEY手机动态口令
            %td 20万
            %td 20万
          %tr
            %td 编辑器或数字证书
            %td 无限制
            %td 无限制
      %table#pab_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 平安银行借记卡支付额度表 / 客服电话 4006699999
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 手机动态密码
            %td{:colspan => "2"} 客户自行设置
            %td 柜面开通
      %table#psbc_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 中国邮政储蓄银行借记卡支付额度表 / 客服电话 95580
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 手机动态密码版
            %td 3000
            %td 3000
            %td --
      %table#bos_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 上海银行借记卡支付额度表 / 客服电话 021-962888
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 专业版文件证书
            %td 5000
            %td 5000
            %td 柜面开通
      %table#njcb_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 南京银行借记卡支付额度表 / 客服电话 96400（江苏）40088-96400
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 个人手机动态密码版
            %td 1万
            %td 1万
            %td{:rowspan => "2"} 柜面开通
          %tr
            %td 个人专业版
            %td 5万
            %td 5万
      %table#nbcb_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 宁波银行借记卡支付额度表 / 客服电话 96528
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 动态密码令牌/短信动态密码
            %td 5万
            %td 5万
            %td{:rowspan => "2"} 柜面开通
          %tr
            %td USBKey移动证书
            %td{:colspan => "2"} 无限额
      %table#bohc_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 渤海银行借记卡支付额度表 / 客服电话 4008888811
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 手机绑定+动态口令卡
            %td 自选5000-2万
            %td 自选5000-10万
            %td 柜面开通
      %table#beai_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 东亚银行借记卡支付额度表 / 客服电话 800-830-3811
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 手机动态密码
            %td 5000
            %td 2万
            %td{:rowspan => "2"} 柜面开通
          %tr
            %td USB-KEY/USB-KEY+口令卡
            %td{:colspan => "2"} 100万
      %table#gzcb_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 广州银行借记卡支付额度表 / 客服电话 (020-96699 / 4008996699)
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td USB-KEY
            %td{:colspan => "2"} 无限制
            %td 柜面开通
      %table#srcb_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 上海农村商业银行借记卡支付额度表 / 客服电话 021-962999
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 卡号+密码
            %td{:colspan => "2"} 自选5000-5万
            %td 柜面开通
      %table#bob_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 北京银行借记卡支付额度表 / 客服电话 95526
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 普通版
            %td{:colspan => "2"} 累计300
            %td{:rowspan => "3"} 柜台开通
          %tr
            %td 动态密码版
            %td{:colspan => "2"} 1万
          %tr
            %td 证书版
            %td{:colspan => "2"} 100万
      %table#hzb_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 杭州银行借记卡支付额度表 / 客服电话 400-8888-508、96523
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 大众版
            %td{:colspan => "2"} 累计300
            %td{:rowspan => "2"} 柜台开通
          %tr
            %td 专业版
            %td 100万
            %td 500万
      %table#czb_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 浙商银行借记卡支付额度表
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 商卡
            %td{:colspan => "2"} 无限额
            %td --
      %table#hscb_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 徽商银行借记卡支付额度表
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 动态密码
            %td 1000
            %td 5000
            %td{:rowspan => "3"} --
          %tr
            %td 浏览器证书
            %td 1000
            %td 5000
          %tr
            %td USBKEY
            %td 50万
            %td 200万
      %table#bjrcb_desc.uc-bankdesc{:style => "display: none;", :width => "100%"}
        %colgroup
          %col{:style => "width:230px"}/
          %col{:style => "width:135px"}/
          %col{:style => "width:135px"}/
          %col/
        %tbody
          %tr
            %td{:colspan => "4"} 北京农村商业银行借记卡支付额度表
          %tr
            %td{:rowspan => "2"} 支付方式
            %td{:colspan => "2"} 支付限额
            %td{:rowspan => "2"} 开通方式
          %tr
            %td 每笔限额
            %td 每日限额
          %tr
            %td 手机认证
            %td 10万
            %td 50万
            %td{:rowspan => "2"} 柜台开通
          %tr
            %td USBKEY
            %td{:colspan => "2"} 无限额
    .grey{:style => "margin-top:40px;"}
      %dt.fs16 温馨提示
      %dd 1、为了您的资金安全，您的账户资金将由第三方银行托管；
      %dd 2、充值前请注意您的银行卡充值限制，以免造成不便；
      %dd 3、禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账户的使用；
      %dd 4、为了您的资金安全，建议充值前进行实名认证、手机绑定、设置提现密码；
      %dd 5、如果充值遇到任何问题，请联系客服：400-8888-566。
