%div{:style => "padding:20px 20px 30px;"}
  .pt5.pb30
    .fs16 您可以通过网上银行或银行柜台向赢在投资转账（手续费最多一笔50元）
  %table.uc-bank{:width => "100%"}
    %tbody
      %tr
        %td{:align => "center", :valign => "middle", :width => "180"}
          %img{:src => asset_path("cbc.jpg"), :style => "display:block"}/
        %td
          %div{:style => "line-height:150%;"}
            帐号：xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            %br/
            户名：臣乾金融信息服务（上海）有限公司
            %br/
            开户行：建设银行上海外高桥保税区支行
      %tr
        %td{:align => "center", :valign => "middle", :width => "180"}
          %img{:src => asset_path("icbc.jpg"), :style => "display:block"}/
        %td
          %div{:style => "line-height:150%;"}
            帐号：xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            %br/
            户名：臣乾金融信息服务（上海）有限公司
            %br/
            开户行：工商银行上海外高桥支行
      %tr
        %td{:align => "center", :valign => "middle", :width => "180"}
          %img{:src => asset_path("abc.jpg"), :style => "display:block"}/
        %td
          %div{:style => "line-height:150%;"}
            帐号：xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            %br/
            户名：臣乾金融信息服务（上海）有限公司
            %br/
            开户行：农业银行上海外高桥保税区支行
      %tr
        %td{:align => "center", :valign => "middle", :width => "180"}
          %img{:src => asset_path("cmb.jpg"), :style => "display:block"}/
        %td
          %div{:style => "line-height:150%;"}
            帐号：xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            %br/
            户名：臣乾金融信息服务（上海）有限公司
            %br/
            开户行：招商银行上海外高桥保税区支行
            </tr>
  .red.pt30.pl20
    转账成功后，请电话告知我们客服 400-8888-566，以便尽快到账！
