#chargeConfirm.modal.fade.bs-example-modal-sm{:tabindex => "-1", :role => "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden' => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => "true", 'data-dismiss' => "modal", :type => "button"} x
        #myModalLabel.modal-title 充值确认
      .modal-body
        %label 充值已完成？
      .modal-footer
        %button.btn-u.btn-u-default{'data-dismiss' => "modal",:type => "button"} 取消
        %button.btn-u.btn-u-blue{'data-dismiss' => "modal",:type => "button"} 确定
