<div class="pg-container-content">
  <div id="pg-account-index" class="pg-account">
    <div class="container_12 mt10 fn-clear">

      <%=render "shares/profile_side_navbar", {activeItem: "following"} %>

      <div class="inline-block relative pg-account-detail">

        <%=render "shares/profile" %>
        <div class="tag-box tag-box-v3 mt20 p20">
          <div class="row pl0">
            <div class="col-md-8">
              <h2>最新动态</h2>
              <ul>
                <li class="row mt10">
                  <div class="col-md-3 text-center">
                    <img src="/assets/testimonials/img1.jpg" class="img-thumbnail img-rounded w70">
                    <div>巴菲特</div>
                  </div>
                  <div class="col-md-9 padding0 p10">
                    <label class="bold">大鹏基金设立</label><span class="float-right">2015－02-10</span>
                    <div>大鹏基金2012设立了，欢迎大家来投标</div>
                    <ul class="list-inline grid-boxes-news mt10">
                        <li><a href="#"><i class="fa fa-star-o"></i> 关注</a></li>
                        <li>|</li>
                        <li><a href="#"><i class="fa fa-comments-o"></i> 评论(14)</a></li>
                        <li>|</li>
                        <li><a href="#"><i class="fa fa-heart-o"></i> 收藏(141)</a></li>
                        <li>|</li>
                        <li><a href="#"><i class="fa fa-share"></i> 分享(141)</a></li>
                    </ul>
                  </div>
                </li>
                <li class="row mt10">
                  <div class="col-md-3 text-center">
                    <img src="/assets/testimonials/img1.jpg" class="img-thumbnail img-rounded w70">
                    <div>巴菲特</div>
                  </div>
                  <div class="col-md-9 padding0 p10">
                    <label class="bold">大鹏基金设立</label><span class="float-right">2015－02-10</span>
                    <div>大鹏基金2012设立了，欢迎大家来投标</div>
                    <ul class="list-inline grid-boxes-news mt10">
                        <li><a href="#"><i class="fa fa-star-o"></i> 关注</a></li>
                        <li>|</li>
                        <li><a href="#"><i class="fa fa-comments-o"></i> 评论(14)</a></li>
                        <li>|</li>
                        <li><a href="#"><i class="fa fa-heart-o"></i> 收藏(141)</a></li>
                        <li>|</li>
                        <li><a href="#"><i class="fa fa-share"></i> 分享(141)</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <div class="tab-v1">
  		            <ul class="nav nav-tabs nav-justified">
  		                <li class="active"><a href="#following-me-1" data-toggle="tab">关注我的</a></li>
  		                <li class=""><a href="#me-following-1" data-toggle="tab">我关注的</a></li>
  		            </ul>
  		            <div class="tab-content row">
  		                <div class="tab-pane fade active in" id="following-me-1">
                        <div class="col-md-6 text-center">
                          <img src="/assets/testimonials/img1.jpg" class="img-thumbnail img-rounded w70">
                          <div>巴菲特</div>
                        </div>
                        <div class="col-md-6 text-center">
                          <img src="/assets/testimonials/img1.jpg" class="img-thumbnail img-rounded w70">
                          <div>巴菲特</div>
                        </div>
  		                </div>
  		                <div class="tab-pane fade" id="me-following-1">
                        <div class="col-md-6 text-center">
                          <img src="/assets/testimonials/img1.jpg" class="img-thumbnail img-rounded w70">
                          <div>巴菲特</div>
                        </div>
                        <div class="col-md-6 text-center">
                          <img src="/assets/testimonials/img1.jpg" class="img-thumbnail img-rounded w70">
                          <div>巴菲特</div>
                        </div>
                        <div class="col-md-6 text-center">
                          <img src="/assets/testimonials/img1.jpg" class="img-thumbnail img-rounded w70">
                          <div>巴菲特</div>
                        </div>
  		                </div>
  		            </div>
  		        </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
