<div class="pg-container-content">
  <div id="pg-account-index" class="pg-account">
    <div class="container_12 mt10 fn-clear">
      
      <%=render "shares/profile_side_navbar", {activeItem: "following"} %>
      
      <div class="inline-block relative pg-account-detail">

        <%=render "shares/profile" %>
        <div class="tag-box tag-box-v3 mt40">
        	
        </div>
      </div>
    </div>
  </div>
</div>