=# TODO 登录缺少错误提示
.container.content
  .row
    .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
      = form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'reg-page'}) do |f|
        .reg-header
          %h2 登录
        .input-group.margin-bottom-20
          %span.input-group-addon
            %i.fa.fa-user
          = f.text_field :cell, autofocus: true, placeholder: "用户名", class: "form-control"
        .input-group.margin-bottom-20
          %span.input-group-addon
            %i.fa.fa-lock
          = f.password_field :password, autocomplete: "off", placeholder: "密码", class: "form-control"
        .row
          .col-md-6.checkbox.margin-bottom-20
            - if devise_mapping.rememberable?
              %label
                %input{:type => "checkbox"}>/
                记住我
          .col-md-12
            %button.btn-u.pull-right.col-sm-12{:type => "submit"} 登录
        %p
          %a.color-blue{:href => new_user_password_path} 
            %span
              忘记密码?
        
