<table class="table table-bordered">
  <thead>
    <th>时间</th>
    <th>订单号</th>
    <th>User name</th>
    <th>充值方式</th>
    <th>金额</th>
    <th>Billable Type</th>
    <th>Billable id</th>
  </thead>
  <tbody>
    <%= render @billings %>  
  </tbody>
</table>
