-# 这里应该创建局部模板

%div.container.content
  %h2.text-center 项目投标
  %div.tag-box.tag-box-v3.mt20.p20.pt0
    %label 项目筛选
    %div.container.content
      %form.sky-form
        %section.col.col-3
          %label 持续时间(>)
          %input.form-control{:type => "text",:name => "duration"}
        %section.col.col-3
          %label 募集总额(>)
          %input.form-control{:type => "text",:name => "amount"}
        %section.col.col-3
          %label 截止日期(<)
          %input.form-control{:type => "text",:name => "deadline"}
        %button.btn.btn-danger.mt25{:type => "submit"}
          %i.fa.fa-search
        -# %section.col.col-3
        -#   %div.input-group
        -#     %span.input-group-btn.custom-right
        -#       %input.form-control{:type => "text",:name => "v4"}
        -#       %button.btn.btn-danger{:type => "submit"}
        -#         %i.fa.fa-search

  = render partial: 'fund_list'
