<!--TODO: hzz-->
<!-- if state -->
<div class="container content fund-show-pending">
  <h2>发标完成，等待审核</h2>
  <a class="float-right" href="javascript:;">去个人中心查看进度</a>
</div>
<!-- else -->

<!-- end -->
