.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/about_us_side_nav", {activeItem: "about_staff"}
      .inline-block.relative.grid_10.p20
        1、个人信息安全
        摩尔街网站采用当下最先进的IT技术，保障客户信息数据库安全，对客户信息访问设置最高级别权限，并与客户签订信息保密协议，非客户本人授权，任何人不能获取客户信息。（国家司法、执法机关可依据相关法律、法规合理查询）
        摩尔街网站具有强大的网站安全监测系统与团队，对每一步操作指令做高度加密处理，防止未授权和非正常访问，杜绝信息安全隐患。同时，摩尔街网站还会不断改进安全策略适应发展需要，以保证用户信息的绝对安全。

- @navItem = 'pages'
