.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/about_us_side_nav", {activeItem: "about_staff"}
      .inline-block.relative.grid_10.p20
        3、操作流程安全
        摩尔街用户在摩尔街网站平台进行的所有操作，除非用户授权或国家司法执法机构依法查询，否则任何人无权查看。

- @navItem = 'pages'
