.pg-container-content
  #pg-account-index.pg-account
    .container.content.fn-clear
      .bg-white.p30
        = render "shares/about_us_side_nav", {activeItem: "about_staff"}
        .inline-block.relative.grid_10.p20
          4、风险保障计划
          摩尔街为保障用户权益，在每一笔超过25%盈利的委托操作中收取盈利部分的1.5%作为风险准备金，并存入专用账户。如果有发生不可预知的风险（如股票长期停牌、交易系统技术故障）导致用户损失超出协定部分，则摩尔街启动风险准备金赔付计划，对超出部分进行按比例赔付。（风险赔付金计划详见网站公示）

- @navItem = 'pages'
