.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/about_us_side_nav", {activeItem: "about_staff"}
      .inline-block.relative.grid_10.p20
        5、自我安全保障
        摩尔街用户为了保障自身权益，在注册认证后应妥善保管账号、密码以及个人身份证信息；进行资金支付，账号输入时应选择非公共开放网络，及时清理上网浏览痕迹数据等，保证自身信息、资金安全。
        避免线下交易无交易数据可据可查，给自身带来不必要的损失与潜在安全风险。
