- @activeSubItem = 'cashout'
.pg-container-content
  #pg-account-index.pg-account
    .container_12.mt10.fn-clear
      = render "shares/profile_side_navbar", {activeItem: "account"}
      .inline-block.relative.pg-account-detail
        = render "shares/profile"
        .tab-v2
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#cashout"} 提现
          .tab-content
            #cashout.tab-pane.fade.active.in
              = render "profile/cash_management/cashout"

        -# = simple_form_for(@billing, url: withdrawn_user_account_path) do |f|
        -#   = f.input :amount
        -#   = f.button :submit
